<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Echo all executed SQL to stdout -->
        <!--<property name="show_sql">true</property>-->
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgresPlusDialect</property>
        <mapping class="com.example.dictionary.entity.Word"/>
        <mapping class="com.example.dictionary.entity.Translation"/>

    </session-factory>
</hibernate-configuration>